<h1>Listing bbs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Content</th>
    <th>Package</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bb.each do |bb| %>
  <tr>
    <td><%= bb.name %></td>
    <td><%= bb.email %></td>
    <td><%= bb.content %></td>
    <td><%= bb.package_id %></td>
    <td><%= link_to 'Show', bb %></td>
    <td><%= link_to 'Edit', edit_bb_path(bb) %></td>
    <td><%= link_to 'Destroy', bb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= form_for(@bb) do |f| %>
  <% if @bb.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @bb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br />
    <%= f.number_field :package_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />

<%= link_to 'New Bb', new_bb_path %>
