<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bb.name %>
</p>

<p>
  <b>Email:</b>
  <%= @bb.email %>
</p>

<p>
  <b>Content:</b>
  <%= @bb.content %>
</p>

<p>
  <b>Package:</b>
  <%= @bb.package_id %>
</p>


<%= link_to 'Edit', edit_bb_path(@bb) %> |
<%= link_to 'Back', bbs_path %>
